/* Flexible Box Layout  */
body{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
}

#box1{
    background-color: aqua;

}

#box2{
    background-color: khaki;
}
#box3{
    background-color: violet;
}
#box4{
    background-color: purple;
}
#box5{
    background-color:pink;
}