/* Practice Set 5 */
/* #box1{
    height: 100px;
    width: 200px;
    background-color: green;
    font-size: 10px;
}

#box2{
    height:50vh;
    width: 30%;
    background-color: yellow;
    margin-left: 10%;
    font-size: 1em;
    width: 5rem;
} */
div{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: 2px solid black;
    display:inline-block;
}
/* #box1{
    position: static;
}
#box2{
    position: relative;
    top: 20px;
    left: 10px;
}

#box3{
    position: absolute;
    top: 10px;
    left: 20px;
}
#box4{
    position: fixed;
    right: 10px;
    bottom: 20px;
} */

/* #box1{
    background-image: url("itachi.webp");
    background-size: cover;
    background-repeat: no-repeat;
} */

div{
    height: 100px;
    width: 100px;
    background-image: url(itachi.webp);
    background-size: cover;
    color: aqua;
    position:fixed;
    right: 0px;
    top: 50px;
}